/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* Clearfix group */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  display: flex;
  justify-content: center;
  background-color: #ace4a3;
  flex-direction: column;
}

p {
  width: 80%;
  margin: 0% 10%;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: xx-large;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

img {
  margin: 10% 10%;
  width: 80%;
  max-width: 540px;
  max-height: 600px;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
